<div class="page page-profile">

  <ng-include src="'app/page/user-header.html'"></ng-include>

  <div class="divider divider-lg"></div>

  <div class="ui-timline-container">
    <section class="ui-timeline">
      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-caption">
              <a href="javascript:;" class="btn btn-primary btn-block">玉石溯源</a>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item" ng-repeat="item in vm.timeLine track by $index">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time" ng-bind="::item.name"></div>
            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info">
              <i class="fa fa-asterisk"></i>
            </div>
            <div class="tl-content">
              <h4 class="tl-tile text-primary" ng-bind="::item.describe"></h4>
              <ul>
                <li ng-repeat="img in item.img">
                  <img ng-src="{{img.src}}" alt="{{item.name}}阶段的图片">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>

      <!--<article class="tl-item alt">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">1 hour ago</div>
            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="tl-content">
              <h4 class="tl-tile text-danger">Buy some toys</h4>
              <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates
                culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae.</p>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">3 hours ago</div>
            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-success">
              <i class="fa fa-camera"></i>
            </div>
            <div class="tl-content">
              <h4 class="tl-tile text-warning">Soluta nihil</h4>
              <p>Incidunt, molestias odio soluta nihil accusantium sit nostrum doloremque. Recusandae, ullam,
                odio consequatur facere totam reiciendis similique dicta explicabo!</p>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item alt">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">7 hours ago</div>
            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger">
              <i class="fa fa-check"></i>
            </div>
            <div class="tl-content">
              <h4 class="tl-tile text-success">Odio sit odit necessitatibus</h4>
              <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates
                culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae.</p>
            </div>
          </div>
        </div>
      </article>

      <article class="tl-item">
        <div class="tl-body">
          <div class="tl-entry">
            <div class="tl-time">10 hours ago</div>
            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-primary">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="tl-content">
              <h4 class="tl-tile text-info">Accusantium sint</h4>
              <p>Ipsam, minus, quam, sit officiis accusantium sint voluptates voluptatibus minima cum non
                quos corrupti dolorem eligendi modi eius magnam unde!</p>
            </div>
          </div>
        </div>
      </article>-->

    </section>
  </div>

</div>
