.dialog-qrcode {
    >img {
        margin-left: auto;
        margin-right: auto;
    }
}

.page-dashboard {
    h3 {
        font-size: 22px;
        font-weight: normal;
        line-height: 1;
        margin: 0 0 30px;
    }
    >.dashboard-menu {
        list-style: none;
        background-color: rgba(0, 0, 0, .8);
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0;
        text-align: center;
        >li {
            float: left;
            width: 33%;
            border-right: 1px solid $bright;
            &:last-child{
               border-right:none; 
            }
            >a {
                display: inline-block;
                width: 100%;
                height: 100%;
                color: $bright;
            }
        }
    }
}