// Shared variables and mixins
@import "global/var" // global variables
, "global/var-extra" // extra global variables
, "bootstrap/bootstrap/mixins" // Bootstrap mixins
, "bourbon/bourbon" // mixins
, "global/shared" // Plugins, overrides plugins' style
, "plugins/angular-bootstrap"
, "plugins/angular-material" 
, "plugins/swiper"
//,   "plugins/angular-ui-tree"
//,   "plugins/responsive-tables"
//,   "plugins/jquery-steps"
//,   "plugins/angular-wizard"
//utils
, 'loader' // Pages
, "global/var-pages", "pages/dashboard", "pages/pages" //,   "pages/error"
//,   "pages/auth"
, "pages/profile" //,   "pages/invoice"
//,   "pages/ui"
//,   "pages/features"
//,   "pages/demo"
//,   "pages/demo-material"
//,   "pages/preview-article"
, "ui/ui" // sections
, "layout/layouts" //,   "layout/nav"
//,   "layout/nav-off-canvas"
//,   "layout/nav-horizontal"
//,   "layout/nav-min"
//,   "layout/nav-color"
//,   "layout/header"
, "layout/body";