<header class="top-header clearfix" ng-controller="layoutHeaderCtrl as vm">
    <div ui-preloader></div>

    <!-- Logo -->
    <div class="logo {{main.skin}}">
        <a href="#/">
            <span class="logo-icon zmdi zmdi-view-dashboard"></span>
            <span class="logo-text">{{main.brand}}</span>
        </a>
    </div>
    <div class="top-nav">
        <ul class="nav-left list-unstyled">
            <li>
                <a href="#/" data-toggle-nav-collapsed-min md-button aria-label="toggle-nav-collapsed-min" class="toggle-min">
                    <i class="zmdi zmdi-menu"></i>
                </a>
            </li>
        </ul>

        <ul class="nav-right pull-right list-unstyled">
          
        </ul>
    </div>

</header>
