<div class="nav-wrapper">
  <ul id="nav"
      class="nav"
      data-slim-scroll
      data-collapse-nav
      data-highlight-active>
    <li class="nav-title"><span data-translate="导航"></span></li>
    <li>
      <a md-button aria-label="meanu" ui-sref="dashboard">
        <i class="zmdi zmdi-home"></i><span data-translate="主页"></span>
      </a>
    </li>
    <li>
      <a md-button aria-label="meanu" ui-sref="page.profile">
        <i class="zmdi zmdi-card-giftcard"></i><span data-translate="我的工作室"></span>
      </a>
    </li>
  </ul>
</div>
