$TL_content_bg: rgba(255, 255, 255, .9);

// streamline
.streamline {
  position: relative;
  border-color: $border-color;
  .sl-item:after,
  &:after {
    content: '';
    position: absolute;
    background-color: #fff;
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 9px;
    height: 9px;
    margin-left: -5px;
    bottom: 0;
    left: 0;
  }
}

.sl-item {
  border-color: $border-color;
  position: relative;
  padding-bottom: 1px;
  @include clearfix;
  &:after {
    top: 6px;
    bottom: auto;
  }
  &.b-l {
    margin-left: -1px;
  }
}

// timeline
.timeline {
  margin: 0;
  padding: 0;
}

.tl-item {
  display: block;
  @include clearfix;
}

.visible-left {
  display: none;
}

.tl-wrap {
  display: block;
  margin-left: 6em;
  padding: 15px 0 15px 20px;
  border-style: solid;
  border-color: $border-color;
  border-width: 0 0 0 4px;
  @include clearfix;
  &:before {
    position: relative;
    content: "";
    float: left;
    top: 15px;
    margin-left: -27px;
    width: 10px;
    height: 10px;
    border-color: inherit;
    border-width: 3px;
    border-radius: 50%;
    border-style: solid;
    background: #edf1f2;
    box-shadow: 0 0 0 4px lighten($brand-light, 1%);
  }
  &:hover:before {
    background: transparent;
    border-color: #fff;
  }
}

.tl-date {
  position: relative;
  top: 10px;
  float: left;
  margin-left: -7.5em;
  display: block;
  width: 4.5em;
  text-align: right;
}

.tl-content {
  display: inline-block;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  &.block {
    display: block;
    width: 100%;
  }
  &.panel {
    margin-bottom: 0;
  }
}
 .tl-img-list{
   @include clearfix;
   >a{
    display: inline-block;
   }
   img{
      max-width: 100%;
   }
 }
.tl-header {
  display: block;
  width: 12em;
  text-align: center;
  margin-left: 2px;
}

.timeline-center {
  .tl-item {
    margin-left: 50%;
    .tl-wrap {
      margin-left: -2px;
    }
  }
  .tl-header {
    width: auto;
    margin: 0;
  }
  .tl-left {
    margin-left: 0;
    margin-right: 50%;
    .hidden-left {
      display: none !important;
    }
    .visible-left {
      display: inherit;
    }
    .tl-wrap {
      float: right;
      margin-right: -2px;
      border-left-width: 0;
      border-right-width: 4px;
      padding-left: 0;
      padding-right: 20px;
      &:before {
        float: right;
        margin-left: 0;
        margin-right: -27px;
      }
    }
    .tl-date {
      float: right;
      margin-left: 0;
      margin-right: -8.5em;
      text-align: left;
    }
  }
}
//
.hbox {
  display: table;
  width: 100%;
  height: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.arrow {
  z-index: 10;
  border-width: 9px;

  &:after {
    border-width: 8px;
    content: "";
  }

  &.left {
    top: 50%;
    left: -9px;
    margin-top: -9px;
    border-right-color: rgba(0, 0, 0, 0.1);
    border-left-width: 0;

    &:after {
      bottom: -8px;
      left: 1px;
      border-right-color: #ffffff;
      border-left-width: 0;
    }
  }
  &.left.arrow-success:after {
    border-right-color: #27c24c;
  }

  &.pull-up {
    top: 19px;
  }
}
.arrow, .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

//颜色
.bg-light {
  color: #58666e;
  background-color: #edf1f2;
}

.b-info {
  border-color: #23b7e5;
}
.b-success {
  border-color: #27c24c;
}
.b-primary {
  border-color: #7266ba;
}
.b-a {
  border: 1px solid #dee5e7;
}
.padder {
  padding-right: 15px;
  padding-left: 15px;
}
.m-b {
  margin-bottom: 15px;
}
.m-t {
  margin-top: 15px;
}
.b-t {
  border-top: 1px solid #dee5e7;
}
.b-light {
  border-color: #edf1f2;
}
.pull-in {
  margin-right: -15px;
  margin-left: -15px;
}
//.panel-body {
//  padding: 15px;
//}
.m-b-sm {
  margin-bottom: 10px;
}

